<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
  <appSettings>
    <add key="Mock" value="" />
    <add key="conf:LogoPath" value="Content/Logo/{0}/" />
    <!-- <add key="conf:BasePath" value="\\192.168.0.126\Common\POR\wwwPOR\" /> -->
    <add key="conf:basepath" value="c:\por\" />
    <add key="conf:EnableTracing" value="true" />
    <add key="conf:EnableApiTracing" value="true" />
    <add key="conf:CredemtelSignatureUrl" value="http://10.224.28.190:8330/CredemtelSignature/Credemtel.Signature.asmx" />
    <add key="conf:N4D_applicationCode" value="POR" />
    <add key="conf:N4D_password" value="por_univpwd_769!" />
    <add key="conf:N4D_majorVersion" value="1" />
    <add key="conf:N4D_minorVersion" value="2" />
    <add key="conf:N4D_OperationTimeout" value="00:10:00" />
    <!--"HH:mm:ss"-->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="Mock" value="true" />-->
    <add key="TokenDurationInHours" value="2" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="150000" />
  </appSettings>
    <connectionStrings>
      <!--<add name="CarryOnEntities" connectionString="metadata=res://*/CarryOn.csdl|res://*/CarryOn.ssdl|res://*/CarryOn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC1744\SQLEXPRESS;initial catalog=CarryOn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--<add name="CarryOnEntities" connectionString="metadata=res://*/CarryOn.csdl|res://*/CarryOn.ssdl|res://*/CarryOn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qtp8syl5ux.database.windows.net,1433;initial catalog=CarryOn;user id=mario.fornaroli@yahoo.it;password=Maomao@01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
      <!--Local db house pc-->
      <add name="CarryOnEntities" connectionString="metadata=res://*/CarryOn.csdl|res://*/CarryOn.ssdl|res://*/CarryOn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-STA11UG\SQLEXPRESS;initial catalog=CarryOn;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
      <!--Azure CarryOnDb db house pc-->
      <!--<add name="CarryOnEntities" connectionString="metadata=res://*/CarryOn.csdl|res://*/CarryOn.ssdl|res://*/CarryOn.msl;provider=System.Data.SqlClient;provider connection string='data source=tcp:carryonserver.database.windows.net,1433;initial catalog=CarryOnDb;user id=mario.fornaroli;password=Maomao@01;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
